<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0"
						  sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<add name="QuanLyThuVienDb"
			 connectionString="Data Source=LAPTOP-MTOT08R6;Initial Catalog=QuanLyThuVienDB;User ID=sa;Password=123;TrustServerCertificate=True;MultipleActiveResultSets=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>