<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DuLich" connectionString="Data Source=.;Initial Catalog=QuanLyDuLich_LAB5;Integrated Security=True;TrustServerCertificate=True;Connect Timeout=5" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
</configuration>
